<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fastJSON" version="2.1.2.0" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="Kaliko.Logger" version="1.1.0" targetFramework="net40" />
  <package id="KalikoCMS.Engine" version="0.9.1-beta" targetFramework="net40" />
</packages>